{% load static %}
{% load crispy_forms_tags %}
{% extends '../layout.html'%}
{% block content %}
Signup page
    {% if request.user.is_authenticated %}
    <div class="fles item-center space-x-4 px-6">
        <a href="{% url 'homeapp:logout' %}"> <input type="button">Logout</a>
        {% else %}
        <a href="{% url 'homeapp:login' %}"><input type="button" >Login</a>
        {% endif %}
    </div>
    {% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {{form| crispy}}
        <input type="Submit" value="Sign Up" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    </form>
    {% endblock %}
    {% endblock content %}
